@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.icon-style {
    margin-right: 5px;
    margin-top: 7px;
    color: grey;
}

.atg-logo {
    width: 190px;
}

.top-search-input {
    padding: 5px;
    width: 40%;
    height: 45px;
    background-color: #F8F8F8;
    text-align: center;
    margin-top: 8px;
    border-radius: 16px;
}

.top-para {
    font-size: 18px;
}

.top-span-style {
    color: blue;
}

.icon-style-triangle {
    margin-right: 5px;
    font-size: 30px;
    color: grey;
}

.triangle-icon-style {
    font-size: 20px;
    padding-top: 3px;
    padding-left: 3px;
}

.write-post {
    background-color: lightgrey;
    margin: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.join-group-container {
    padding: 5px;
    background-color: blue;
    color: white;
    width: 180px;
    padding-top: 10px;
    border-radius: 10px;
    height: 60px;
    margin-top: 14px;
}

.join-group-para {
    font-size: 20px;
    padding-left: 7px;
}

.group-icon {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 8px;
}

.options-sizing-container {
    display: flex;
    justify-content: space-between;
}

.img-container {
    background-image: url("https://i.pinimg.com/originals/e5/c8/03/e5c803a1f390a8bfb5f45abd8a055ba5.jpg");
    background-size: cover;
    height: 40vh;
    width: 100%;
}

.arrow-icon {
    color: white;
    padding: 10px;
}

.join-btn {
    background-color: transparent;
    padding: 10px;
    color: white;
    font-family: Roboto;
    border-radius: 10px;
    border-color: white;
    margin: 5px;
}

.options-style {
    font-size: 25px;
    margin-top: 30px;
}

.option-span {
    font-weight: bold;
    text-decoration: underline;
}

.selected-options {
    padding-left: 10px;
}

.img-arrow-btn-container {
    display: flex;
    justify-content: space-between;
}

.names {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
    padding: 15px;
}

.img-container-head {
    color: white;
    font-family: Roboto;
    font-size: 24px;
}

.img-container-para {
    color: white;
    font-family: Roboto;
    font-size: 16px;
}

.forest-container {
    background-image: url("https://agriculture.ec.europa.eu/sites/default/files/styles/ewcms_metatag_image/public/2021-06/smi-climate-change_800x418px_0.jpg?itok=KeFRpOuT");
    background-size: cover;
    height: 40vh;
    width: 100%;
}

.forest-top-items-style {
    display: flex;
    justify-content: space-between;
}

.selected-items-style {
    background-color: lightgrey;
    margin: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.forest-head {
    font-size: 22px;
    padding: 15px;
}

.selected-head {
    font-size: 22px;
    padding: 12px;
}

.icon-style-triangle1 {
    color: black;
    font-size: 30px;
    margin-top: 12px;
    padding-right: 8px;
}

.article-icon {
    padding: 15px;
}

.article-size {
    font-size: 18px;
}

.forest-container-head {
    font-size: 20px;
}

.article-question-icons {
    display: flex;
    justify-content: space-between;
}

.profile-icon-style {
    font-size: 28px;
}

.forest-profile-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.pen-icon-style {
    margin-right: 7px;
    margin-top: 5px;
}

.profile-name {
    font-size: 18px;
    padding-left: 10px;
}

.profile-views {
    font-size: 15px;
    padding-left: 10px;
    font-weight: 500;
}

.share-icon-container {
    background-color: lightgrey;
    height: 40px;
    width: 100px;
    padding: 10px;
    border-radius: 7px;
}

.share-icon-style {
    margin-top: 5px;
}

.shate-text-sylye {
    padding-left: 10px;
}

.micro-icon-style {
    margin-right: 7px;
    margin-top: 5px;
}

.door-container {
    background-image: url("https://thumbs.dreamstime.com/b/paint-peeling-wooden-old-door-texture-closeup-30044400.jpg");
    background-size: cover;
    height: 40vh;
    width: 100%;
}

.car-container {
    background-image: url("https://www.nixoninsurance.com/media/cache/26/8c/268c7543af88ac566a88f2ba807e9efb.jpg");
    background-size: cover;
    height: 40vh;
    width: 100%;
}

.car-para-icon-sizing {
    display: flex;
    justify-content: space-between;
}

.visit-btn {
    background-color: transparent;
    padding: 10px;
    color: orange;
    font-family: Roboto;
    border-radius: 10px;
    border-color: black;
    margin: 5px;
    border-width: 1px;
    width: 90%;
}

.apply-btn {
    background-color: transparent;
    padding: 10px;
    color: green;
    font-family: Roboto;
    border-radius: 10px;
    border-color: black;
    margin: 5px;
    border-width: 1px;
    width: 90%;
}

.create-account-container {
    margin-top: 100px;
    background-color: white;
    height: 180%;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
}

.account-head-icon-style {
    display: flex;
    justify-content: space-between;

}

.create-acc-head {
    font-size: 20px;
}

.email-style {
    width: 83%;
    background-color: #F8F8F8;
    padding: 8px;
}

.firstname-input {
    background-color: #F8F8F8;
    padding: 8px;
}

.create-sign-container {
    display: flex;
    justify-content: space-between;
}

.create-button {
    padding: 10px;
    width: 150px;
    color: white;
    background-color: #318CE7;
    border-radius: 20px;
    border-width: 0px;
}

.sign-para {
    font-family: Roboto;
    text-decoration: underline;
}

.facebook-container {
    width: 90%;
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin-top: 15px;
    padding-top: 10px;
    flex-direction: row;
    justify-content: center;
}

.facebook-icon {
    color: #318CE7;
    margin-top: 5px;
}

.google-img-style {
    margin: 2px;
    height: 30px;
    width: 30px;
}

.sign-in-container {
    margin-top: 430px;
}

.search-container {
    position: relative;
    margin: 50px;
}

.search-input {
    padding: 10px 30px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 300px;
    outline: none;
}

.location-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;

}

.recomended-para-style {
    font-family: Roboto;
    font-size: 16px;
}

.profile-icon-para-style {
    font-family: Roboto;
    font-size: 20px;
    padding-left: 10px;
}

.profile-icon-sizing {
    font-size: 20px;
}

.follow-container {
    display: flex;
    justify-content: space-between;
}

.see-more-para {
    color: blue;
    text-align: right;
    margin-top: 50px;
}

.follow-button {
    padding: 10px;
    font-size: 18px;
    border-radius: 12px;
    width: 105px;
    border-width: 0px;
    margin-left: 150px;
}

.recommended-container {
    background-color: white;
    height: 150px;
    width: 100px;
    display: none;
}

.recommend-style {
    display: block;
}

.list-elements-style {
    list-style-type: none;
}

@media (max-width:768px) {

    /*small devices*/
    .top-navbar {
        display: none;
    }

    .options-sizing-container {
        display: none;
    }

    .input-container {
        display: none;
    }

    .recommended-container {
        display: none;
    }

}

@media (min-width:768px) {
    .top-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .top-icons {
        display: none;
    }

    .icon-style-triangle {
        display: none;
    }

    .img-container-head {
        margin-top: 150px;
        font-size: 30px;
        padding-left: 18px;
    }

    .img-container-para {
        font-size: 20px;
        padding-left: 18px;
    }

    .forest-top-items-style {
        display: none;
    }

    .forest-container {
        width: 70%;
        margin-left: 60px;
    }

    .forest-article-style {
        width: 58%;
        margin-left: 60px;
    }

    .forest-profile-container {
        width: 58%;
        margin-left: 60px;
    }

    .door-sizing-container {
        width: 58%;
        margin-left: 60px;
    }

    .car-sizing-container {
        width: 58%;
        margin-left: 60px;
    }

    .software-container {
        width: 58%;
        margin-left: 60px;
    }

    .account1-container {
        width: 58%;
        margin-left: 60px;
    }

    .sign-in-container {
        width: 58%;
        margin-left: 60px;
    }

    .options-style {
        margin-left: 60px;
    }
}
